
/*FUENTES DEL PROYECTO*/
* {

    font-family: 'Roboto', Arial, Verdana, sans-serif;
}

/*COLORES DEL PROYECTO*/ 
/* Azulillo del body #55d3cd6b; */
/* color logo: #3399cc */

/*ESTILOS GENERALES*/

* {
    box-sizing: border-box;
    
}

body {
    
    padding: 0;
    background-size: cover;
    -moz-background-size: cover;
    -webkit-background-size: cover;
    -o-background-size: cover;
    /* background: #3dc5ba81; */
    
}

main {

    max-width: 1200px;
    margin: 0 auto;

}

header {

    text-align: center;

}

section {

    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    padding: 20px;
    text-align: center;

}

input {
    padding: 5px;
}
div {
    border: 1px solid black;
    border-radius: 5px;
}

input{
    background: transparent;
    border: 2px solid black;
    border-radius: 4px;
}

